@import "tailwindcss";

:root {
  --bg: #030303;
  --card: #1d1d1d;
  --primary: #ffffff;
  --accent: #ff0000;
  --text: #FFFFFF;
  --muted: #aaaaaa;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.01em;
}

@layer utilities {
  .glass {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}
